body{
    font-family:"century gothic","segoe UI",Tahoma,Geneva;
}
li{
    list-style:none;
    display: inline-block;
    padding-left:16px;
    padding-right:16px;
    padding-top:8px;
    padding-bottom:8px;
}
nav{
    text-align:center;
    position:fixed;
    top: 0;
    width: 100%;
   background-color:rgba(255, 255, 255, 0.8);
   z-index: 3;

}
nav a{
    color: black; 
}
ul{
    margin :0;
    padding: 0;
}

.container{
    max-width:840px;
    margin:auto;
}
#hello{
    margin-top: 100px;
 
}
.banner{
    position: relative;
    overflow:hidden;
    height: 100%;
}
small{
   position: absolute; 
   left: 16px;
   bottom: 16px;
   color:ghostwhite ;
   z-index:22;
}